In [61]:
import pandas as pd

df = pd.read_csv("titanic.csv")
age_null = df[df["Age"].isnull()].index.tolist()
clean_df = df.drop(age_null, axis=0) #Como la edad es un variable considerada por lo tanto eliminamos los valores
                                    #NaN
clean_df.index = pd.RangeIndex(len(clean_df.index))

def RangoEdad(fila):
    if(int(fila["Age"]) <= 12):
        return "kid"
    elif(int(fila["Age"]) <= 20):
        return "young"
    elif(int(fila["Age"]) <= 60):
        return "adult"
    else:
        return "oldman"
    
clean_df["AgeRange"] = clean_df.apply(RangoEdad, axis=1)
x1 = clean_df["Pclass"].tolist()
x2 = clean_df["Sex"].tolist()
x3 = clean_df["SibSp"].tolist()
x4 = clean_df["Parch"].tolist()
x5 = clean_df["AgeRange"].tolist()
y = clean_df["Survived"].tolist()

cant_train = int(0.75*len(x1))
x1_train = x1[:cant_train]
x2_train = x2[:cant_train]
x3_train = x3[:cant_train]
x4_train = x4[:cant_train]
x5_train = x5[:cant_train]
y_train = y[:cant_train]

x1_test = x1[cant_train:]
x2_test = x2[cant_train:]
x3_test = x3[cant_train:]
x4_test = x4[cant_train:]
x5_test = x5[cant_train:]
y_test = y[cant_train:]

In [67]:
train = pd.DataFrame()
train["Survived"] = y_train
train["Pclass"] = x1_train
train["Sex"] = x2_train
train["SibSp"] = x3_train
train["Parch"] = x4_train
train["AgeRange"] = x5_train
train.to_csv("train.csv", index=False)
train

     Survived  Pclass     Sex  SibSp  Parch AgeRange
0           0       3    male      1      0    adult
1           1       1  female      1      0    adult
2           1       3  female      0      0    adult
3           1       1  female      1      0    adult
4           0       3    male      0      0    adult
..        ...     ...     ...    ...    ...      ...
530         0       1    male      1      0    adult
531         0       2    male      0      0   oldman
532         1       2    male      0      0    adult
533         0       3    male      0      0    young
534         0       3    male      0      0    adult

[535 rows x 6 columns]

In [66]:
test = pd.DataFrame()
test["Survived"] = y_test
test["Pclass"] = x1_test
test["Sex"] = x2_test
test["SibSp"] = x3_test
test["Parch"] = x4_test
test["AgeRange"] = x5_test
test.to_csv("test.csv", index=False)
test

     Survived  Pclass     Sex  SibSp  Parch AgeRange
0           1       3  female      0      0    young
1           0       3  female      1      6    adult
2           1       1    male      0      1    adult
3           1       1    male      0      0    adult
4           0       3    male      0      0    young
..        ...     ...     ...    ...    ...      ...
174         0       3  female      0      5    adult
175         0       2    male      0      0    adult
176         1       1  female      0      0    young
177         1       1    male      0      0    adult
178         0       3    male      0      0    adult

[179 rows x 6 columns]